
<div class="container">
    <div class="row">
        <app-navbar></app-navbar> <!--Call navbar-->
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-2">
            <app-inventory-ad-side-bar></app-inventory-ad-side-bar> <!--Call sidebar-->
        </div>
        
        <div class="col-10">
          <br><br><br><br>
  
  
  
  
          <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="card bg-c-blue text-white">
                        <div class="card-body">
                            <h6>_____________</h6>
                            <h2 class="text-end"><i class="bi bi-cart-plus"></i><span> </span></h2>
                            <p>Available Categories<span class="float-end">{{category}}</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card bg-c-green text-white">
                        <div class="card-body">
                            <h6>_____________</h6>
                            <h2 class="text-end"><i class="bi bi-rocket"></i><span> </span></h2>
                            <p>Available Products<span class="float-end">{{products}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
          
          
      </div>
    </div>
</div>

