
<div class="container">
    <div class="row">
        <app-navbar></app-navbar> <!--Call navbar-->
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-2">
            <app-inventory-ad-side-bar></app-inventory-ad-side-bar> <!--Call sidebar-->
        </div>
        <div class="container mt-4">
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>Book List</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <!-- Angular Material table component-->
    <mat-table [dataSource]="books">

      <!-- Define columns with column definitions using ng-container-->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let book"> {{ book.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let book"> {{ book.title }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="author">
        <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
        <mat-cell *matCellDef="let book"> {{ book.author?.firstName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let book"> {{ book.price | currency:'USD'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let book"> {{ book.amount }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="publishDate">
        <mat-header-cell *matHeaderCellDef> Publish Date </mat-header-cell>
        <mat-cell *matCellDef="let book"> {{ book.publishDate | date:'mediumDate' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let book">
          <button mat-icon-button color="primary" (click)="openEditModal(book)"> <mat-icon>edit</mat-icon> </button>
          <button mat-icon-button color="warn" (click)="onDeleteBook(book.id)"> <mat-icon>delete</mat-icon> </button>
        </mat-cell>
      </ng-container>


      <!-- Set row header and keep placeholders for cells by adding *matRowDef and *matHeaderRowDef-->
      <mat-header-row
        *matHeaderRowDef="['id', 'title', 'author', 'price', 'amount', 'publishDate', 'action']"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: ['id', 'title', 'author', 'price', 'amount', 'publishDate', 'action']"></mat-row>

    </mat-table>
  </mat-card-content>

  <mat-card-footer>
    <mat-card-actions>
      <button mat-button  (click)="openAddModal()">add a new book</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
</div>

    </div>
</div>

  