


#view{
  width: 1050px;
  height: 480px;
  margin-left: 150px;
  /*background-color: rgb(145, 179, 187)*/
}

#GIN{
  width: 1050px;
  height: 480px;
  margin-left: 10px;

}



#upload{
  float: right;
  /*background-color: blueviolet;*/
  margin-right: 30px;
  margin-top: 60px;
}
