<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container" style="padding-top: 120px;">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end" >
    <button (click)="toggleFileList()" class="btn btn-warning">View Files</button>
    <button (click)="toggleProductManagement()" class="btn btn-warning">Deduct Quantity</button>
    <a routerLink="/billing">
      <button (click)="toggleFileList()" class="btn btn-warning">Create Bill</button>
    </a>
    <button (click)="toggleFileUpload()" class="btn btn-warning">Send Bill</button>
    </div>

    <div id="view">
    <div *ngIf="showFileUpload">

      <img src="assets/PM.jpeg" alt="logo" style="
        width: 480px; height: 360px; margin-left: 60px; margin-top: 20px;
        ">
      <div id="upload">
      <h2 style="color: rgb(19, 39, 129);"><b>Upload Bill</b></h2>
      <div>
        <label for="formFileLg" class="form-label" style="font-size:20px;"><b>File:</b></label>
        <br>
        <input class="form-control form-control-lg" id="formFileLg" type="file" (change)="billSend($event)">
      </div>
      <br>
       <div style="text-align: right;" >
        <button type="button" class="btn btn-primary" (click)="uploadBill()">Send Bill</button>
       </div>
       </div>
    </div>

    <div *ngIf="showProductManagement">

      <h2>Deduct Product</h2>
      <label for="productID">Product ID:</label>
      <input type="number" id="productID" [(ngModel)]="product.product_id" />


      <label for="quantityToDeduct">Quantity to Deduct:</label>
      <input type="number" id="quantityToDeduct" [(ngModel)]="product.product_quantity" />

      <button (click)="deductProduct()">Deduct Product</button>

    </div>


    <div *ngIf="showFileList">

      <table class="table table-hover" >
        <thead>
          <tr>
            <th><b>ID</b></th>
            <th><b>Name</b></th>
            <th><b>Download</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of files">
            <td>{{ file.id }}</td>
            <td>{{ file.name }}</td>
            <td>
              <button (click)="downloadFile(file.id, file.name)" class="btn btn-outline-success">Download</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body>
</html>


