
body{
  background-color: rgba(238, 203, 187, 0.959);
}

#view{

  width: 1200px;
  height: 580px;
  margin-bottom: 10px;
  margin-left: 150px;
  /*background-color: rgb(145, 179, 187)*/
}

.billsend{
  /*background-color: blue;*/
  width: 60%;
}

#upload{
  float: right;
  /*background-color: blueviolet;*/
  margin-right: 130px;
  margin-top: 80px;
}

