<html>
    <head>

    </head>
    <body>

<div class="container">
    <div class="row">
      <app-navbar></app-navbar>
      </div>
      <div class="row">
      <div class="col-2">
        <app-stock-keeper-sidebar></app-stock-keeper-sidebar><!--Admin Sidebar calling-->
      </div>
      <div class="col-10 mt-5">
                <div>
                  
                  <div class="card-body px-4 py-5 px-md-5">
                      <div class="d-flex justify-content-center">
                      <div class="col-lg-10 mt-5">
                          <h2 class="d-flex justify-content-center">New Good Receive Note</h2>
                          
                          <form>
                              <div class="row">
                                  <!-- <div class="col-md-6 mb-6"> -->
                                    <div class="form-outline mb-4">
                                      <label class="form-label" >Supplier Name</label>
                                      <input type="text"name="supplier_name" class="form-control"[(ngModel)]="grn.supplier_name" required/>
                                    
                                    </div>
                                  <!-- </div> -->
                                  
                              </div>
                          
                          <!-- User Name -->
                          <!-- <div class="form-outline">
                            <label class="form-label" >Supplier Name</label>  
                            <input type="text"name="supplier_name" class="form-control"[(ngModel)]="grn.supplier_name" required/>
                            
                          </div> -->
                          <div class="form-outline mb-4">
                            <label class="form-label" >Address</label>
                            <input type="text"name="address" class="form-control"[(ngModel)]="grn.address" required/>
                            
                          </div>

                          <div class="form-outline mb-4">
                          <label class="form-label" >Contact Number</label>
                          <input type="text" name="contact_nu"  class="form-control"[(ngModel)]="grn.contact_nu" required/>
                          <div *ngIf="tele_error" class="error-message">{{ tele_error }}</div>
                          <div *ngIf="tele_error_fix" class="error-message-ok">{{ tele_error_fix }}</div>
                          </div>
                          
                          <div class="row"> 
                            <div class="col-md-6 mb-6">
                            <div class="form-outline mb-4">
                                <label class="form-label" >Date
                                <input type="date" class="form-control"name="date"[(ngModel)]="grn.date" required/>
                              </label>
                            </div>
                            </div>

                            
                              <div class="col-md-6 mb-6">
                               <div class="form-outline mb-4">
                              
                                <!-- <label class="form-label" >Invoice Number</label>
                                <input type="number" [(ngModel)]="grn.invoice_no" name="invoice_no" style="width:130px; height:32px;text-align:center;"class="form-control"> -->

                                <label class="form-label" >Category Id</label>
                                <select class="form-select" name="category_id" aria-label="category" [(ngModel)]="grn.category_id"  required>
                                  <option selected value="Accessories" disabled [ngValue]="null"> </option>
                                  <option value="cat_accessories">Accessories</option>
                                  <option value="cat_appliances">Appliances</option>
                                  <option value="cat_staron">Staron</option>
                                  <option value="cat_melamine">Melamine Board</option>
                                  <option value="cat_edge">Edge Band</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6 mb-4">
                             <div class="form-outline ">
                                <label class="form-label" >Ordered Quantity</label>
                                 
                                  <input type="text" name="ordered_quantity"  class="form-control"[(ngModel)]="grn.ordered_quantity" required/>
                                
                                </div>
                            </div>
                           
                            <div class="col-md-6 mb-4">
                             <div class="form-outline ">

                                <label class="form-label" >Received Quantity</label>
                                <input type="text" name="received_quantity"  class="form-control"[(ngModel)]="grn.received_quantity" required/>
                              </div>
                            </div>
                          </div>
                             

                            <!-- <div class="form-outline mb-4">
                              <label class="form-label" >Quantity</label>
                              <input type="number" [(ngModel)]="grn.quantity" name="quantity" style="width:130px; height:32px;text-align:center;"class="form-control">
                              
                          </div> -->

                          <!-- <div class="form-outline mb-4">
                            <label class="form-label" >Issue Quantity</label>
                            <input type="text" name="iquantity"  class="form-control"[(ngModel)]="grn.iquantity" required/>
                            
                        </div> -->

                        <div class="form-outline mb-4">
                          <label class="form-label" >Item Description</label>
                          <textarea id="item"  rows="3" cols="30" [(ngModel)]="grn.item_description" name="item_description" class="form-control" >
                          </textarea>
                          
                      </div>

                      <div class="form-outline mb-4">
                        <label class="form-label" >Remarks</label>
                        <textarea id="area"  rows="3" cols="30" [(ngModel)]="grn.remarks" name="remarks" class="form-control" >
                        </textarea>
                        
                    </div>

                         
                      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                       
                              <button class="btn btn-primary btn btn-dark" type="submit" (click)="submit()"  >Generate</button>
                              <button class="btn btn-primary btn btn-dark" type="button" (click)="reset()" >Cancel</button>
                            </div> 
          
                      </form>
                    </div>
                    </div>
                  </div>
                </div>
      </div>
    </div>
  </div>
</body>
  </html>
  
  
  
  
  
  
  
  
  

