<app-forecasting-chart></app-forecasting-chart>
<div class="container">
  <div class="row">
    <h1>Welcome Tom the Forecasting Dashboard!</h1>
    <br>
    <br>
<div>
    <label for="cars">Select Time Duration:</label>
    <select>
      <option value="Monthly">Monthly</option>
      <option value="Annually">Annualy</option>
    </select>
    

</div>
<br>
<div>
    <label for="cars">Select Category:</label>

    <select >
      <option value="All">All</option>
      <option value="Steron">Steron</option>
      <option value="Melamine board">Melamine Board</option>
      <option value="H-band">H-band</option>
      <option value="accessories">Accessories</option>
      <option value="appliances">appliances</option>
    </select>

      
</div>
<br>
<div>    
    <label for="cars">Select Status:</label>

    <select >
      <option value="Purchasing">Purchasing</option>
      <option value="selling">Selling</option>
    </select>
    <br>
</div>



  </div>
  </div>

  
  
