<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="container" style="padding-top: 150px;">

    <app-showroom-side-bar></app-showroom-side-bar>
    <app-navbar></app-navbar>

     <div class="list-view">


      <table class="table table-hover" >
        <thead>
          <tr>
            <th><b>ID</b></th>
            <th><b>File Name</b></th>
            <th><b>Date</b></th>
            <th><b>Customer Name</b></th>
            <th><b>Download</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of files">
            <td>{{ file.id }}</td>
            <td>{{ file.fileName }}</td>
            <td>{{ formatDate(file.date)}}</td>
            <td>{{ file.customerName}}</td>
            <td>
              <button (click)="downloadFile(file.id, file.fileName)" class="btn btn-outline-success">Download</button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>

</body>
</html>







