<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title> 
</head>
<body>
    <app-system-admin-nav></app-system-admin-nav>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <app-system-admin-side></app-system-admin-side>
            </div>
            <div class="col-10">
                <br><br><br><br><br><br><br><br>

                <form (submit)="register()">
                    <div class="d-flex justify-content-center">
                        <div class="col-lg-8">
            
                            <h1>Registration</h1>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">First Name</label>
                                    <input type="email" class="form-control short-input" [(ngModel)]="regData.firstname"  name="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Last Name</label>
                                    <input type="email" class="form-control short-input" [(ngModel)]="regData.lastname"  name="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Email</label>
                                    <input type="email" class="form-control short-input" [(ngModel)]="regData.email"  name="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Password</label>
                                    <input type="password" class="form-control short-input" [(ngModel)]="regData.password"  name="password" required>
                                </div>
                                <div class="form-group">
                                    <label for="sel1">Role (select one):</label>
                                    <select class="form-control" id="sel1" name ="role" [(ngModel)] = "regData.role">
                                    <!-- <option>ADMIN</option> -->
                                    <option>INVENTORY_ADMIN</option>
                                    <option>STOCK_MANAGER</option>
                                    <option>PURCHASE_COORDINATOR</option>
                                    <option>STOCK_KEEPER</option>
                                    <option>DESIGNER</option>
                                    <option>SHOWROOM_MANAGER</option>
                                    </select>
                                </div>
                                
                                <br><br><br><br>

                                <div style=" padding:10px;" class = "d-flex justify-content-around">
                                    <button type="submit" class="btn btn-primary margin-right:10px " >Register</button>
                                    <button type="button" class="btn btn-primary" (click)="clear()">Clear</button>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
