<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container" style="padding-top: 120px;">
    <app-navbar></app-navbar>
    <app-designer-side-bar></app-designer-side-bar>

      <div class="dq">
          <h2>Products</h2>
          <br>
      </div>
          <div class="table">
            <table class="table table-hover" >
              <thead>
                <tr>
                  <th><b>Product ID</b></th>
                  <th><b>Category ID</b></th>
                  <th><b>Product Brand </b></th>
                  <th><b>Product Name</b></th>
                  <th><b>Product Price</b></th>
                  <th><b>Product Quantity</b></th>
                  <th><b>Cat ID</b></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of products!">
                  <td>{{ product.product_id }}</td>
                  <td>{{ product.category_id}}</td>
                  <td>{{ product.product_brand}}</td>
                  <td>{{ product.product_name}}</td>
                  <td>{{ product.product_price}}</td>
                  <td>{{ product.product_quantity}}</td>
                  <td>{{ product.cat_id}}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>

</body>
</html>



