<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container" style="padding-top: 120px;">
    <app-navbar></app-navbar>
    <app-designer-side-bar></app-designer-side-bar>

    <div class="dq">
    <h2>Deduct Quantity</h2>
    <br>
    <hr/>
    </div>

    <div class="deduct">
      <div class="container px-2 text-center">
        <div class="row gx-3">
            <div class="col">
              <div class="p-1"><label for="productID">Product ID:</label></div>
              <div class="p-1"><input type="text" id="productID" [(ngModel)]="product.product_id" /></div>
            </div>

            <div class="col">
              <div class="p-1"><label for="quantityToDeduct">Quantity to Deduct:</label></div>
              <div class="p-1"><input type="text" id="quantityToDeduct" [(ngModel)]="product.product_quantity" /></div>
            </div>

            <div class="col">
              <div class="p-3"><button (click)="deductProduct()" class="btn btn-outline-success">Deduct Product</button></div>
            </div>
            <br>
            <br>

            <div *ngIf="showSuccessMessage" class="alert alert-success alert-dismissible fade show" role="alert">
              Success! Your action was completed successfully.
            </div>

            <br>
            <br>
            <div *ngIf="showErrorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
              Error! Something went wrong. Please try again.
            </div>
        </div>
     </div>
   </div>
  </div>
</body>
</html>



