 
<div class="container">
    <div class="row">
        <app-navbar></app-navbar> <!--Call navbar-->
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-2">
            <app-stock-keeper-sidebar></app-stock-keeper-sidebar> <!--Call sidebar-->
        </div>
 
        <div class="col-10 mt-5">
        <div class="mt-5">

          
        
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="card bg-c-blue text-white">
                            <div class="card-body">
                                <h6>_____________</h6>
                                <h2 class="text-end"><i class="bi bi-cart-plus"></i><span> </span></h2>
                                <p>Available Categories<span class="float-end">{{category}}</span></p>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-sm-4">
                        <div class="card bg-c-green text-white">
                            <div class="card-body">
                                <h6>_____________</h6>
                                <h2 class="text-end"><i class="bi bi-rocket"></i><span> </span></h2>
                                <p>Available Products<span class="float-end">{{products}}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- <table>
            <tr>
                <td>
                     Total of categories 
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Total Categories</h5>
                          <hr>
                          <p class="card-text">5</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </td>
                <td>
                    Total of Products
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Total Products</h5>
                          <hr>
                          <p class="card-text">8</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </td>
                <td>
                    Total of bill
                    <div class="card text-center" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Total Bill</h5>
                          <hr>
                          <p class="card-text">6</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </td>
            </tr>
        </table> -->

        <!-- <stock-keeper-profile></stock-keeper-profile> -->

        </div>
 
        </div>
    </div>
  
  
