<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <button type="button" class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" disabled>
        <h3><b></b></h3>
      </button>
      <a class="navbar-brand" href="#">
        <img src="assets/logo1.png" height="50" style="max-width: 100%;">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#"></a>
        <a class="nav-link" href="#"></a>
        <a class="nav-link" href="#"></a>
      </div>

      <!-- <div class="collapse navbar-collapse " id="navbarNavDarkDropdown">
        <ul class="navbar-nav ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              <i class="bi bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark ms-auto" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/login" >Login</a></li>
              <li><a class="dropdown-item" href="#">SignUp</a></li>
            </ul>
          </li>
        </ul>
      </div> -->

      <div class="navbar-nav ms-auto">
        <div class="ms-auth">
          <button type="button" class="btn btn-danger" (click)="onLogout()">Logout</button>
        </div>
      </div>
    </div>
    
  </div>
</nav>
<!-- Navbar Ends -->