<div class="container">
    <div class="row">
        <app-navbar></app-navbar> <!--Call navbar-->
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-2">
            <app-purchase-coordinator-side></app-purchase-coordinator-side> <!--Call sidebar-->
        </div>
        
        <div class="col-10 mt-5">
            <div>
              
              <div class="card-body px-4 py-5 px-md-5">
                  <div class="d-flex justify-content-center">
                  <div class="col-lg-10 mt-5">
                    <h2 class="d-flex justify-content-center">Good Issue Notes - GIN</h2>

                    <h3>Filter GIN Details Here:</h3>

                    <div class="form-outline">
                      <input type="search" id="form1" class="form-control" placeholder="Filter" [(ngModel)]="searchValue" (input)="searchGins()" aria-label="Search" />
                    </div>
                    <br>
                    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th class="th-sm" scope="col">Invoice No</th>
                          <th class="th-sm" scope="col">Category Id</th>
                          <th class="th-sm" scope="col">Date</th>
                          <th class="th-sm" scope="col">Customer Name</th>
                          <th class="th-sm" scope="col">Address</th>
                          <th class="th-sm" scope="col">Contact Number</th>
                          <th class="th-sm" scope="col">Item Description</th>
                          <th class="th-sm" scope="col">Invoiced Quantity</th>
                          <th class="th-sm" scope="col">Issued Quantity</th>
                          <th class="th-sm" scope="col">Remarks</th>
                          <th class="th-sm" scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr scope="row" *ngFor="let gin of filteredGins">
                          <td>{{ gin.invoice_no }}</td>
                          <td>{{ gin.category_id }}</td>
                          <td>{{ gin.date }}</td>
                          <td>{{ gin.customer_name }}</td>
                          <td>{{ gin.address }}</td>
                          <td>{{ gin.contact_nu }}</td>
                          <td>{{ gin.item_description }}</td>
                          <td>{{ gin.invoiced_quantity }}</td>
                          <td>{{ gin.issued_quantity }}</td>
                          <td>{{ gin.remarks }}</td>
                          <td>
                            <button type="button" class="btn btn-outline-warning">Select</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br><br><br><br>

                      <h2 class="d-flex justify-content-center">Sell Product</h2>
                      
                      <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm.value,productForm)">
                        
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Product Name</label>
                          <div class="col-sm-10">
                            <select class="form-select" name="product_name" aria-label="product" required [(ngModel)]="selectedProductName">
                              <option selected value="" disabled>Select Product name</option>
                              <option *ngFor="let product of filteredProductNames" [value]="product">{{ product }}</option>
                            </select>
                          </div>
                        </div>
                        <br>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Product Brand</label>
                          <div class="col-sm-10">
                            <select class="form-select" name="product_brand" aria-label="product" required [(ngModel)]="selectedProductBrand">
                              <option selected value="" disabled>Select Product brand</option>
                              <option *ngFor="let brand of filteredProductBrands" [value]="brand">{{ brand }}</option>
                            </select>
                          </div>
                        </div>

                        <br>
                        <div class="form-group col-md-2">
                          <label class="col-sm col-form-label">Product Quantity</label>
                          <div class="col-sm">
                            <input type="number" class="form-control" name="product_quantity" ngModel required>
                          </div>
                        </div>
                        <br>
                        <div class="form-group row">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" style="margin-right: 10px;" [disabled]="!productForm.valid">Confirm</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                          </div>
                        </div>
                      </form>

                </div>
                </div>
              </div>
            </div>
  </div>

        
    </div>
</div>

