<html>
    <head>
      <meta charset="UTF-8">
      <meta content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <title> Billing View </title>
    </head>
    <body>
      <app-navbar></app-navbar>

      <div class="container">
          
      <div class="container" style="padding-top:80px;">
          <div class="row my-2 mx-1 justify-content-center">
           

      <table  class="table align-middle mb-0 bg-white mt-5 table caption-top">
        <caption><h1 class="bg-secondary"style="text-align:center;color:white;"> Bill Information</h1></caption>
        <thead  style="background-color:#222222 ;" class="text-white">
        <tr>
            <th scope="col"style="text-align:center;">bill_id</th>
            <th scope="col"style="text-align:center;">Quatation No.</th>
            <th scope="col"style="text-align:center;">Cu_Name</th>
            <th scope="col"style="text-align:center;">Billing Date</th>
            <th scope="col"style="text-align:center;">Expire Date</th>
            <th scope="col"style="text-align:center;">Cu_Address</th>
            <th scope="col"style="text-align:center;">Cu_Telephone</th>
            <th scope="col"style="text-align:center;">Other</th>
            <th scope="col"style="text-align:center;">Total Discount</th>
            <th scope="col"style="text-align:center;">Sub Total</th>
            <th scope="col"style="text-align:center;">Total Amount</th>
            <th scope="col"style="text-align:center;">Notes</th>
           
            
            <th scope="col"></th>
           
            
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let bill of bills">
            <td style="text-align:center;">{{ bill.bill_id }}</td>
            <td style="text-align:center;">{{ bill.qu_no }}</td>
            <td style="text-align:center;">{{ bill.cu_name }}</td>
            <td style="text-align:center;">{{ bill.st_date }}</td>
            <td style="text-align:center;">{{ bill.end_date }}</td>
            <td style="text-align:center;">{{ bill.cu_address }}</td>
            <td style="text-align:center;">{{ bill.cu_tele }}</td>
            <td style="text-align:center;">{{ bill.other }}</td>
            <td style="text-align:center;">{{ bill.discount }}</td>
            <td style="text-align:center;">{{ bill.subtotal }}</td>
            <td style="text-align:center;">{{ bill.total_amount }}</td>
            <td style="text-align:center;">{{ bill.note }}</td>
            <td>
              <button (click)="onDelete(bill.bill_id)" class="btn btn-outline-danger btn-sm">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>

<hr>
      <div style="padding-bottom:50px; padding-top:10px; text-align:center;">

<table class="table align-middle mb-0 bg-white mt-5 table caption-top">
  <caption>  <h1 class="bg-secondary"style="text-align:center;color:white;">Generated Bills</h1></caption>
  <thead style="background-color:#222222 ;" class="text-white">
    <tr>
      <th>File id</th>
      <th>File Name</th>
      <th>Action</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pdf of pdfList">
      <td>{{ pdf.bill_id}}</td>
      <td>{{ pdf.filename }}</td>
      <!-- <td><a  [href]="openPdf(pdf.filepath)">file</a></td> -->
      <td><button (click)="openPdf(pdf.filename)" class="btn btn-outline-primary btn-sm">Open</button></td>

    </tr>
  </tbody>
</table>
      </div>
      </div>
  </div>
</body>

</html>
