
<div class="container">
  <div class="row">
      <app-navbar></app-navbar> <!--Call navbar-->
  </div>
  <br>
  <br>
  <br>
  <div class="row">
      <div class="col-2">
          <app-designer-side-bar></app-designer-side-bar> <!--Call sidebar-->
      </div>

      <div class="col-10">
        <br><br><br><br>




        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="card bg-c-blue text-white">
                        <div class="card-body">
                            <h6>Available</h6>
                            <h2 class="text-end"><i class="bi bi-cart-plus"></i><span> {{category}}</span></h2>
                            <p>Total Categories<span class="float-end"> 5</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card bg-c-green text-white">
                        <div class="card-body">
                            <h6>Available</h6>
                            <h2 class="text-end"><i class="bi bi-rocket"></i><span> {{products}}</span></h2>
                            <p>Total Products<span class="float-end"> 1480</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="card bg-c-yellow text-white">
                        <div class="card-body">
                            <h6>Last Month</h6>
                            <h2 class="text-end"><i class="bi bi-currency-dollar"></i><span> 100K</span></h2>
                            <p>Total Sales<span class="float-end"> 2460K</span></p>
                        </div>
                    </div>
                </div>


            </div>
        </div>



    </div>
  </div>
</div>


