body{
  background-image:url("../blured.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(48, 48, 48); 
}



.login-form-container {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.short-input {
  width: 250px;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: blur(0px);
}

.company-image {
  max-width: 100%;
  height: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .login-form-container {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .company-image {
    max-width: 80%;
    margin-left: 2rem;
  }
}

label{
  color: rgb(0, 0, 0);
}

h1{
  font-size: 30px;
  font-weight: bolder;
  color: #ffbf65;
}


.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}



.custom-button {
  background-color: #FFB64D;
}