<p>login works!</p>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form>
    <label>
      Username:
      <!-- <input type="text" [(ngModel)]="username" name="username"> -->
    </label>
    <label>
      Password:
      <!-- <input type="password" [(ngModel)]="password" name="password"> -->
    </label>
    <!-- <button type="submit" (click)="login()">Login</button> -->
</form>
</body>
</html>

  