<!--Stock manager Nav-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <!--<button type="button" class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <h3><i class="bi bi-list"></i></h3>
        </button> -->
      
      <a class="navbar-brand" routerLink="admindash"><b> <h3>MONARA CREATIONS (Pvt) Ltd</h3></b></a> <!--Change That-->
      <!-- <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <i class="bi bi-list"></i>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        </div>
      </div>
      <div>
      <a class="navbar-brand" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="bi bi-bell"></i>
        <span class="badge bg-secondary badge-number text-warning" >5 <!--We can add number--></span>
      </a><!-- End Notification Icon -->
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-left dropdown-menu-arrow notifications">
        <li class="dropdown-header">
          Notification Count
          <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a><!--We can link notification full page to view all button-->
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="notification-item">

          <div>
            <h4>Notification Head</h4>
            <p>Body of the Notification</p>
          </div>
        </li>
        </ul>
      </div>
      <div class="bg-dark learfix">
        <div class="row">
            <div class="col-3 ml-auto text-right py-4">
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-light btn-rounded btn" data-mdb-ripple-color="dark">Logout</button>
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--container-->

    </div>
</nav>