<div mat-dialog-title>
    <h1>Add Products</h1>
</div>
<br>
<div mat-dialog-content class="content">

        
    <select class="form-select" aria-label="category"  [(ngModel)]="category_id">
        <option selected>Select Category</option>
        <option value="c1">Melomine</option>
        <option value="c2">H-bands</option>
    </select>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input matInput>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Product Brand</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Product Price</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Product Quantity</mat-label>
        <input matInput>
    </mat-form-field>

    <div mat-dialog-actions>
        <button type="submit" class="btn btn-primary" (click)="saveProduct()">Save</button>
        <button type="button" class="btn btn-outline-primary">Close</button>
    </div>
</div>
