
<div class="container">
  <div class="row">
    <app-adminnav></app-adminnav>
    </div>
    <div class="row">
    <div class="col-2">
      <app-adminsidebar></app-adminsidebar><!--Admin Sidebar calling-->
    </div>
    <div class="col-10">
              <div class="card bg-glass">
                <div class="card-body px-4 py-5 px-md-5">
                    <div class="d-flex justify-content-center">
                    <div class="col-lg-10">
                        <h2 class="d-flex justify-content-center">Profile</h2>
                        
                        <form>
                            <div class="row">
                                <div class="col-md-6 mb-6">
                                  <div class="form-outline">
                                    <label class="form-label" for="form3Example1">First name</label>
                                    <input type="text" id="form3Example1" class="form-control" />
                                    
                                  </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                  <div class="form-outline">
                                    <label class="form-label" for="form3Example2">Last name</label>
                                    <input type="text" id="form3Example2" class="form-control" />
                                    
                                  </div>
                                </div>
                            </div>
                        
                        <!-- User Name -->
                        <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example1">User Name</label>
                        <input type="text" id="form3Example1" class="form-control" />
                        
                        </div>
                        <!--Email -->
                        <div class="form-outline mb-4">
                          <label class="form-label" for="form2Example1">Email address</label>
                          <input type="email" id="form2Example1" class="form-control" />
                          
                        </div>
                        <!--Select Category-->
                        <div class="mb-3">
                        <label class="form-label" for="form3Example2">Select User Type</label>
                            <select id="form3Example2" class="form-select">
                            <option selected>System Admin</option>
                            <option>Inventory Admin</option>
                            <option>Store Manager</option>
                            <option>Purchase Coordinator</option>
                            <option>Store Keeper</option>
                            <option>Desinger</option>
                            <option>Showroom Manager</option>
                            </select>
                        </div>
        
                        <!-- Password input -->
                        <div class="row">
                            <div class="col-md-6 mb-4">
                              <div class="form-outline">
                                <label class="form-label" for="form3Example1">Password</label>
                                <input type="password" id="form3Example1" class="form-control" />
                                
                              </div>
                            </div>
                            <div class="col-md-6 mb-4">
                              <div class="form-outline">
                                <label class="form-label" for="form3Example2">Re-Type Password</label>
                                <input type="password" id="form3Example2" class="form-control" />
                                
                              </div>
                            </div>
                        </div>
        
                          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary btn btn-dark" type="button">Update</button>
                            <button class="btn btn-primary btn btn-dark" type="button">Cancel</button>
                          </div>
        
                    </form>
                  </div>
                  </div>
                </div>
              </div>
    </div>
  </div>
</div>










