<!--<div mat-dialog-title>
    <h1>Add Products</h1>
</div>
<br>
<div mat-dialog-content class="content">

        
    <select class="form-select" aria-label="category">
        <option selected>Select Category</option>
        <option value="1">Starron</option>
        <option value="2">Melomine</option>
        <option value="3">H-bands</option>
        <option value="4">Accessories</option>
        <option value="5">appliences</option>
    </select>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input matInput>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Product Brand</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Product Price</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Product Quantity</mat-label>
        <input matInput>
    </mat-form-field>

    <div mat-dialog-actions>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-outline-primary">Close</button>
    </div>
</div>

-->

<mat-card>
    <mat-card-header>
      <mat-card-title>Add Author</mat-card-title>
    </mat-card-header>
  
    <form #authorForm="ngForm">
      <mat-card-content>
        <p>
          <!-- First Name field -->
          <mat-form-field appearance="outline">
            <mat-label>Enter your fisrt name</mat-label>
            <input matInput name="firstName" placeholder="First Name" required>
          </mat-form-field>
  
          <!-- Last Name field -->
  
          <mat-form-field appearance="outline">
            <mat-label>Enter your last name</mat-label>
            <input matInput name="lastName" placeholder="Last Name" required>
          </mat-form-field>
        </p>
       
        <p>
          <!-- Address field -->
          <mat-form-field appearance="outline">
            <mat-label>Enter your address</mat-label>
            <input matInput name="address" placeholder="Address" required>
          </mat-form-field>
        </p>
  
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-button color="primary" type="submit" [disabled]="authorForm.invalid">Submit</button>
        <button mat-button type="reset">Reset</button>
      </mat-card-actions>
    </form>
  
  </mat-card>
  