<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

      <title>Bill Generating</title>  
    </head>
    <body>

        <!--Description table-->

        <div class="container" id="print-section">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="assets\logo2.jpg" class="card-img-top" alt="Monara">
                        <div class="card-body">
                          <h5 class="card-title"style="text-align:center">Project Description</h5>

                          <p class="card-text"id='des'> ...................</p>
                        </div>
                   
                      </div>
                
                </div>
                <div class="col">

                            <!--table 1-->

                        <h2 align="center"> <b>Quotation</b></h2>
                        <table class="table" >
                          
                                <tr>
                                    <th>
                                        Quotation date :
                                    </th>
                                    <td align="right">
                                        
                                        <input type="date" class="form-control"name="current-date" >
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Validity :
                                    </th>
                                    <td align="right">
                                        <input type="date" class="form-control"name="validity-date">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                      Quotation No.:
                                    </th>
                                    <td>
                                         <input type="text" class="form-control" name="qno" >
                                    </td>
                                </tr>
                           
                        </table>
                       <!-- showing Customer details-->
                       
                            <table class="table">
                                
                                    <tr>
                                        <th>
                                            <div class="mb-2 bg-dark text-white" align="center">Customer Details</div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                        <div class="input-group input-group-sm ">
                                            
                                            <input type="text" class="form-control" placeholder="Customer Name"required >
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                          </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group input-group-sm ">
                                          <input type="text" class="form-control" placeholder="Address" required>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group input-group-sm">
                                          <input type="text" class="form-control" placeholder="Telephone no." required>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group input-group-sm ">
                                          <input type="text" class="form-control" placeholder="Other" >
                                        </div>
                                    </td>
                                    </tr>
                                 
                            </table>
                  </div>

            </div>
           

              <div class="row my-2 mx-1 justify-content-center">
                <table class="table table-striped table-borderless" id="itemTable">
                  <thead style="background-color:#222222 ;" class="text-white">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Description</th>
                      <th scope="col">Qty</th>
                      <th scope="col">Unit Price</th>
                      <th scope="col">Discount</th>
                      <th scope="col">Amount</th>
                      <th scope="col"align="center"></th>
                    </tr>
                  </thead>
                  <tbody id="tobody">
                    <tr >
                      <th scope="row" id="no">1</th>
                      
                      <td >
                        
                       <select id="select_product"class="form-control">
                        <option id="Melamaine">Melamaine</option>
                        <option id="H.Band">H-Band</option>
                        <option id="M1">material 1</option>
                        <option id="M2">material 2</option>
                       </select>
                    
                    </td>
                      <td ><input type="text" (keypress)="OnlyNumbersAllowed($event)" maxlength="5"size="5"id="qty" name="qty"class="form-control"/></td>
                      <td ><p name="up" class="form-control">.00</p></td>
                      <td ><input type="text" (keypress)="OnlyNumbersAllowed($event)" maxlength="5"size="5"id="discount" name="discount" class="form-control"></td>
                      <td ><p name="amount" class="form-control">.00</p></td>
                      <td>
                        <input type="button" class="btn btn-block " id="addRow" (click)="addRow()" value="+" />
                      </td>
                    </tr>
                
                  
                  </tbody>
                </table>
                <br>
                     
              </div>
                <hr>
              <!--Table 3-->
            <div class="container">
              <div class="row">
                    <div class="col">
                            <table class="table" border="1px">
                                <tr class="bg-dark text-white"align="center">
                                    <th>Special Notes</th>
                                </tr>
                                <tr>
                                    <td>.............</td>
                                </tr>
                            </table>
                    </div>
                    <div class="col">

                    </div>
                    <div class="col">
                        <table class="table">
                            <tr>
                                <th>Subtotal</th>
                                <td>Rs.</td>
                                <td>00.00</td>
                            </tr>
                            <tr>
                                <th>Discount</th>
                                <td>%</td>
                                <td>00.00</td>
                            </tr>
                            <tr>
                                <th>SSCL</th>
                                <td></td>
                                <td>00.00</td>
                            </tr>
                            <tr>
                                <th>VAT</th>
                                <td>%</td>
                                <td>00.0</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <div class="mags"style="border:1px solid black">
                                <td >Rs.</td>
                                <td>000.00</td></div>
                            </tr>
                        </table>
                    </div>
                </div>
              </div>  
      
        </div>
        <div class="Container">
            <div class ="cols btn-group" >
            <button class="btn btn-warning margin-left"  printSectionId="print-section" [useExistingCss]="true" id="export" ngxPrint>Export</button>
            <button class="btn btn-secondary margin-left"id="send" (click)="Billingsend()">Send</button></div>
        </div>     
        <br>
        <br>
    </body>

</html>
