<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

      <title>Bill Generating</title>  
    </head>
    <body>

        <!--Description table-->


        
        <div class="container" id="print-section" >
            <div id="pdf-content" #pdfContent>
        
            <div class="row">
             
                <div class="col">
                    <div class="card" style="width: 15rem;">
                        <img src="assets\logo2.jpg" class="card-img-top" alt="Monara">
                        <div class="card-body">
                          <h5 class="card-title"style="text-align:center">Project Description</h5>

                          <p class="card-text"id='des'> ...................</p>
                        </div>
                   
                      </div>

                
                </div>
                <div class="col">

                            <!--table 1-->

                        <h2 align="center"> <b>Quotation</b></h2>
                        <table class="table" >
                          
                                <tr>
                                    <th>
                                        Quotation date :
                                    </th>
                                    <td align="right">
                                        
                                        <input type="date" class="form-control"name="current-date"[(ngModel)]="formData.st_date" >
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Validity :
                                    </th>
                                    <td align="right">
                                        <input type="date" class="form-control"name="validity-date"[(ngModel)]="formData.end_date">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                      Quotation No.:
                                    </th>
                                    <td>
                                         <input type="text" class="form-control" [(ngModel)]="formData.qu_no" >
                                    </td>
                                </tr>
                           
                        </table>
                       <!-- showing Customer details-->
                       
                            <table class="table">
                                
                                    <tr>
                                        <th>
                                            <div class="mb-2 bg-dark text-white" align="center">Customer Details</div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                        <div class="input-group input-group-sm ">
                                            
                                            <input type="text" class="form-control" placeholder="Customer Name" [(ngModel)]="formData.cu_name"required >
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                          </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group input-group-sm ">
                                          <input type="text" class="form-control" placeholder="Address" [(ngModel)]="formData.cu_address" required>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group input-group-sm">
                                          <input type="text" class="form-control" placeholder="Telephone no."[(ngModel)]="formData.cu_tele" required>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group input-group-sm ">
                                          <input type="text" class="form-control" placeholder="Other"[(ngModel)]="formData.other" >
                                        </div>
                                    </td>
                                    </tr>
                                 
                            </table>

                  </div>

            </div>
         

              <div class="row my-2 mx-1 justify-content-center">


                <table class="table table-striped table-borderless">
                  <thead  style="background-color:#222222 ;" class="text-white">
                  <tr>
                    <th scope="col">#</th>
                      <th scope="col"style="text-align:center;">Material</th>
                      <th scope="col"style="text-align:center;">Quantity</th>
                      <th scope="col"style="text-align:center;">Unit Price</th>
                      <th scope="col"style="text-align:center;">Discount</th>
                      <th scope="col"style="text-align:center;">Amount</th>
                      <th scope="col"></th>
                     
                      
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let row of rows; let i = index">

                    <td>{{row.id}}</td>

                    <td ><select id="select_product"class="form-control" name="name{{i}}"style="width:140px; height:32px;text-align:center;">
                        <option *ngFor="let name of productNames">{{ name }}</option>
                     </select></td>

                    <td><input type="number" [(ngModel)]="row.qty" name="qty{{i}}" style="width:135px; height:32px;text-align:center;"class="form-control"></td>
                    <td ><input type="text" [(ngModel)]="row.product_price" name="unitprice{{i}}" style="width:135px; height:32px;text-align:center;"class="form-control"></td>
                    <td ><input type="number" [(ngModel)]="row.discount"  name="discount{{i}}" (input)="calAmount(row, i)" style="width:135px; height:32px;text-align:center;"class="form-control"></td>
                    <td ><input type="text" [(ngModel)]="row.amount" name="amount{{i}}" readOnly style="width:130px; height:32px;text-align:center;"class="form-control"></td>
                    <td ><button type="button" (click)="deleteRow(i)"  class="btn btn-outline-secondary btn-sm" >-</button></td>
                  </tr>
                </tbody>
                </table>


                
                <!-- [(ngModel)]="formData.quantity"   [(ngModel)]="formData.unit_price" [(ngModel)]="formData.discount" [(ngModel)]="formData.subamount" [(ngModel)]="formData.material" -->
                  
            </div>
                <hr>

              <!--Table 3-->
            <div class="container">
              <div class="row">
                    <div class="col">
                            <table class="table" border="1px">
                                <tr class="bg-dark text-white"align="center">
                                    <th>Special Notes</th>
                                </tr>
                                <tr>
                                    <td><textarea id="w3review" name="w3review" rows="2" cols="25"[(ngModel)]="formData.note" class="form-control">
                                        
                                        </textarea></td>
                                </tr>
                            </table>
                    </div>
                    <div class="col">

                    </div>
                    <div class="col">
                        <table class="table">
                            <tr >
                                <th>Subtotal</th>
                                <td>Rs. </td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>Discount</th>
                                <td></td>
                                <td>00.00</td>
                            </tr>
                            <tr>
                                <th>SSCL</th>
                                <td></td>
                                <td>00.00</td>
                            </tr>
                            <tr>
                                <th>VAT   % </th>
                                
                                <td><input type="text"[(ngModel)]="formData.vat" style="width:100px; height:32px;text-align:center;"class="form-control"></td>
                            
                            </tr>
                            <tr>
                                <th>Total</th>
                                <div class="mags"style="border:1px ">
                                <td >{{calculateTotalAmount()}}</td>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
              </div>
            </div>  
           
        </div>
    
        <div class="Container">
        </div>
   
            <hr>
           <div style="text-align:center;"><button type="button" (click)="addRow()" class="btn btn-outline-secondary btn-sm">Add Row</button></div> <br><br>
            
            <div class ="cols btn-group" >
            <button class="btn btn-warning margin-left"  printSectionId="print-section" [useExistingCss]="true" id="export" ngxPrint >Export</button>
           <button class="btn btn-secondary margin-left"id="send" (click)="Billingsend()">Send</button>
           <button class="btn btn-primary margin-left"id="view" (click)="Billingview()">View</button>
           <button (click)="onSubmit()" >Save Details</button>
           <button (click)="exportToPDF()">Save PDF</button> 
           
          
            </div> 
            <br>
            <br>
   
         
        <br>
        <br>
     
       
    </body>

</html>
