<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <title>Bill Generating</title>  
    </head>
    <body>

        <!--Description table-->
        <app-navbar></app-navbar>
    <div class="container">
        
        <div class="row">
            <div class="col-2">
                <app-sidebar></app-sidebar>
            </div>

        <div class="container" id="print-section" >
            <div id="pdf-content" #pdfContent style="padding-top:110px;">
        
            <div class="row">
             
                <div class="col">
                    <div class="card" style="width: 15rem;text-align:center;">
                        <img src="assets\logo2.jpg" class="card-img-top" alt="Monara">
                        <div class="card-body">
                          <h5 class="card-title"style="text-align:center;">MONARA CREATIONS (pvt) ltd.</h5>

                          <p class="card-text"id='des'style="font-size:11px;">
                                 No.262,High level Road,<br>
                                Nugegoda.,Sri Lanka.<br>
                                Email :monaracreation@gmail.com<br>
                                Tel : +94112 822 969 +94112 755 832<br>
                                Mob : +94 765 562 725br<br>
                                Web : www.monaracreations.lk<br> </p>
                        </div>
                   
                      </div>

                
                </div>
                <div class="col">
                        
                            <!--table 1-->

                        <h2 align="center"> <b>Quotation</b></h2>
                        <table class="table" >
                          
                                <tr>
                                    <th>
                                        Quotation date :
                                    </th>
                                    <td align="right">
                                        
                                        <input type="date" class="form-control"name="current-date"[(ngModel)]="formData.st_date" >
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Validity :
                                    </th>
                                    <td align="right">
                                        <input type="date" class="form-control"name="validity-date"[(ngModel)]="formData.end_date">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                      Quotation No.:
                                    </th>
                                    <td>
                                         <input type="text" class="form-control" [(ngModel)]="formData.qu_no" >
                                    </td>
                                </tr>
                           
                        </table>
                       <!-- showing Customer details-->
                       
                            <table class="table">
                                
                                    <tr>
                                        <th>
                                            <div class="mb-2 bg-dark text-white" align="center">Customer Details</div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>
                                        <div class="input-group input-group-sm ">
                                            
                                            <input type="text" class="form-control" placeholder="Customer Name" [(ngModel)]="formData.cu_name"required >
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                          </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group input-group-sm ">
                                          <input type="text" class="form-control" placeholder="Address" [(ngModel)]="formData.cu_address" required>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group input-group-sm">
                                          <input type="text" class="form-control" placeholder="Telephone no."[(ngModel)]="formData.cu_tele" required>
                                        </div>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="input-group input-group-sm ">
                                          <input type="text" class="form-control" placeholder="E-mail"[(ngModel)]="formData.other" >
                                         
                                            </div>
                                    </td>
                                    </tr>
                                 
                            </table>
                  </div>
            </div>
         

              <div class="row my-2 mx-1 justify-content-center"style="padding-left: 36px;">

                <table class="table table-striped table-borderless">
                  <thead  style="background-color:#222222 ;" class="text-white">
                  <tr>
                    <th scope="col">#</th>
                      <th scope="col"style="text-align:center;">Material</th>
                      <th scope="col"style="text-align:center;">Quantity</th>
                      <th scope="col"style="text-align:center;">Unit Price</th>
                      <th scope="col"style="text-align:center;">Discount</th>
                      <th scope="col"style="text-align:center;">Amount</th>
                      <th scope="col"></th>
                     
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let row of rows; let i = index">

                    <td style="text-align:right;">{{row.id}}</td>

                    <td ><select id="select_product"class="form-control" name="name{{i}}"style="width:139px; height:32px;text-align:center;">
                        <option *ngFor="let name of productNames">{{ name }}</option>
                     </select></td>

                    <td><input type="number" [(ngModel)]="row.qty" name="qty{{i}}" style="width:125px; height:32px;text-align:center;"class="form-control"></td>
                    <td ><input type="number" [(ngModel)]="row.product_price" name="unitprice{{i}}" style="width:130px; height:32px;text-align:center;"class="form-control"></td>
                    <td ><input type="number" [(ngModel)]="row.discount"  name="discount{{i}}" (input)="calAmount(row, i)" (input)="calcTotalDiscount(rows)" (input)="calSubTotal(rows)" style="width:135px; height:32px;text-align:center;"class="form-control"></td>
                    <td ><input type="number" [(ngModel)]="row.amount" name="amount{{i}}"  readOnly style="width:130px; height:32px;text-align:center;"class="form-control"></td>
                    <td ><button type="button" (click)="deleteRow(i)"  class="btn btn-outline-secondary btn-sm" >-</button></td>
                  </tr>
                </tbody>
                </table>
       
                  
            </div>
                <hr>

              <!--Table 3-->
            <div class="container">
              <div class="row">
                    <div class="col">
                            <table class="table" border="1px">
                                <tr class="bg-dark text-white"align="center">
                                    <th>Special Notes</th>
                                </tr>
                                <tr>
                                    <td><textarea id="are"  rows="3" cols="30" [(ngModel)]="formData.note" class="form-control" >
                                        </textarea></td>
                                </tr>
                            </table>
                    </div>
                    <div class="col">
                            
                    </div>
                    <div class="col">
                       
                        <table class="table">
                            <tr >
                                <th>Subtotal</th>
                                <div class="mags ">
                                    <td>Rs.</td>
                                <td><input type="number" style="width:100px; height:30px;text-align:center;"value="{{calSubTotal(rows)}}" [(ngModel)]="formData.subtotal" min="0.00" step="0.5" placeholder="00"></td>
                                <td>.00</td>
                                </div>
                            </tr>
                            <tr>
                                <th>Total Discount</th>
                                <div class="mags ">
                                    <td>Rs.</td>
                                <td ><input type="number"  style="width:100px; height:30px;text-align:center;" value="{{ calcTotalDiscount(rows)}}" [(ngModel)]="formData.discount" min="0.00" step="0.5" placeholder="00"></td>
                                <td>.00</td>
                                </div>
                            </tr>
                            <!-- <tr>
                                <th>SSCL</th>
                                <td></td>
                                <td>00.00</td>
                            </tr>
                            <tr>
                                <th>VAT % </th>
                                
                                <td><div class="mags"style="border:1px ">
                                    <td ><input type="text" style="width:130px; height:32px;text-align:center; border: none;"></td>
                                    </div></td>
                            
                            </tr> -->
                            <tr>
                                <th>Total</th>     
                                <div class="mags"style="border:1px ">
                                    <td>Rs.</td>
                                <td ><input type="number" [(ngModel)]="formData.total_amount"  id="total_amount"  style="width:100px; height:30px;text-align:center;"value="{{calculateTotalAmount()}}" min=".00" step="0.5" placeholder="00"></td>
                                <td>.00</td>
                                </div>
                            </tr>
                    </table>
               
                    </div>
                </div>
              </div>
            </div> 
        </div>
        
        <div class="Container">
        </div>
   
            <hr>
           <div style="text-align:center;"><button type="button" (click)="addRow()" class="btn btn-outline-secondary btn-sm" style="margin-right: 10px;">Add Row</button>        
           <button (click)="confirmRefresh()" type="button" class="btn btn-outline-secondary btn-sm"> Clear </button></div> <br><br>
            
            <div class ="cols btn-group" >
            <button class="btn btn-warning margin-left"  printSectionId="print-section" [useExistingCss]="true" id="export" ngxPrint >Export</button>
            <button  class="btn btn-secondary margin-left" (click)="onSubmit()" >Save Details</button>
           <button class="btn btn-primary margin-left"id="view" (click)="Billingview()">View</button>
           <button class="btn btn-secondary margin-left"id="send" (click)="Billingsend()">Mail</button>
           <!-- <button  class="btn btn-outline-secondary margin-left" (click)="exportToPDF()">Save PDF</button> -->

           
            </div> 
            <br>
            <br>
   
         
        <br>
        <br>
    </div>
    </div>   
    </body>

</html>