
  body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
}
.btn-group {
  margin-right: 0.5rem;
}
textarea{
  .tArea{ font:20px/1.2 arial; border:1px solid #CCC; padding:1em; margin:1em; height:5em; overflow:auto;
    &::before{ content:attr(data-fixedtitle); color:red; }
    > span{ float:left; color:red; }
    > p{ margin:0; padding:0; }
}
}


.error-message {
  color: red;
  font-weight: bold;
  font-size: 13px;
  padding-left: 15px;
  
}

.error-message-ok{
  color:green;
  font-weight: bold;
  font-size: 13px;
  padding-left: 15px;
}

body{
  font-size: 14px;
}
