<div class="container">
    <div class="row">
        <app-navbar></app-navbar> <!--Call navbar-->
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-2">
            <app-purchase-coordinator-side></app-purchase-coordinator-side> <!--Call sidebar-->
        </div>
        
        <div class="col-10 mt-5">
            <div>
              
              <div class="card-body px-4 py-5 px-md-5">
                  <div class="d-flex justify-content-center">
                  <div class="col-lg-10 mt-5">
                      <h2 class="d-flex justify-content-center">Purchased Order</h2>
                      
                      <form>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Product Name</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="Product Name">
                          </div>
                        </div>
                        <br>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Product Brand</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="brand" placeholder="Product Brand">
                          </div>
                        </div>
                        <br>
                        <div  class="form-group col-md-2">
                            <label class="col-sm col-form-label">Product Quantity</label>
                            <div class="col-sm">
                              <input type="number" class="form-control" id="quantity">
                            </div>
                          </div>
                        <br>
                        <div class="form-group row">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                          </div>
                        </div>
                      </form>
                </div>
                </div>
              </div>
            </div>
  </div>

        
    </div>
</div>


