<!--Stock manager Sidebar-->
<div class="offcanvas offcanvas-start sidebar-nav bg-dark"  tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
      <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    </div>
    <div class="offcanvas-body p-0">
  
      <div class="navbar-dark bg-dark">
        <ul class="navbar-nav">
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3">
              
            </div>
          </li>

          <li>
            <a routerLink="/stock-manager-dash" class="nav-link px-3 active">
              <span class="me-2" style="font-size: 25px">
                <i class="bi bi-house-door-fill"></i>
              </span>
              <span style="font-size: 13.5px">HOME</span>  
            </a>
          </li>

          <li>
            <a routerLink="/stock-manager-profile" class="nav-link px-3 active">
              <span class="me-2" style="font-size: 25px">
                <i class="bi bi-person"></i>
              </span>
              <span style="font-size: 13.5px">PROFILE</span>  
            </a>
          </li>

          <li disabled="true">
            <a routerLink="/stock-manager-product" class="nav-link px-3 active">
              <span class="me-2" style="font-size: 25px">
                <i class="bi bi-shop-window"></i>
              </span>
              <span style="font-size: 13.5px">PRODUCTS</span>  
            </a>
          </li>

          <li>
            <a routerLink="/stock-manager-sell-order" class="nav-link px-3 active">
              <span class="me-2" style="font-size: 25px">
                <i class="bi bi-cart-check"></i>
              </span>
              <span style="font-size: 13.5px">SELL ORDER</span>  
            </a>
          </li>

          <li>
            <a routerLink="/stock-manager-purchase-order" class="nav-link px-3 active">
              <span class="me-2" style="font-size: 25px">
                <i class="bi bi-cart-plus"></i>
              </span>
              <span style="font-size: 13.5px">PURCHASE ORDER</span>  
            </a>
          </li>

          <li>
            <a routerLink="/forecasting-dashboard" class="nav-link px-3 active">
              <span class="me-2" style="font-size: 25px">
                <i class="bi bi-graph-up"></i>
              </span>
              <span style="font-size: 13.5px">INVENTORY ANALYSIS</span>  
            </a>
          </li>

          <li>
            <a routerLink="/billing" class="nav-link px-3 active">
              <span class="me-2" style="font-size: 25px">
                <i class="bi bi-receipt-cutoff"></i>
              </span>
              <span style="font-size: 13.5px">BILLING</span>  
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>
  <!-- Off canvas Ends -->
  