
/*showroom file upload
@import "~bootstrap/dist/css/bootstrap.css";*/

#upload{
  float: right;

  width: 450px;
  height: 100px;
  margin-bottom: 10px;
  margin-left: 30px;

}

 body{
  background-color: rgb(157, 216, 196);
 }

 .frame{
  background-color: aqua;
 }


