<div class="container">
    <div class="row">
      <div class="col-5">
        <br><br><br>
        <div>
      <h1><b>Welcome To Inventory Analysis</b></h1>
      </div>
      <br><br>
    <div class="select-container">
      <label for="status">Select Status:</label>
      <select class="custom-select" #status (change)="onSelectedStatus(status.value)">
        <option value="grn">Purchasing</option>
        <option value="gin">Selling</option>
      </select>
    </div>
    <br><br>
    <div class="select-container">
      <label for="category">Select Category:</label>
      <select class="custom-select" name="category_id" aria-label="category" #category [(ngModel)]="product.category_id" (change)="onSelectedCategory(category.value)" required>
        <option *ngFor="let category of categories.filter(filterCategories); let i = index" [value]="category.category_id">
          {{ category.category_name }}
        </option>
      </select>
    </div>
    <br><br>
    <div class="select-container">
      <label for="chartType">Select Chart Type:</label>
      <select class="custom-select" #chartType (change)=" onSelectedChartType(chartType.value)">
        <option value="line">Line Chart</option>
        <option value="bar">Bar Chart</option>
        <option value="pie">Pie Chart</option>
      </select>
    </div>
    <br><br>
    <div>
      <button type="button"  class="btn btn-primary" (click)="onClickMe()">Submit</button>
    </div>
    </div>
    <div class="col-5">
      <br><br><br><br><br><br>
    <div id="divChart">
      <canvas id="myChart" width="200" height="200"></canvas>
    </div>
    </div>
  </div>
  </div>