<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401!!!</title>
</head>
<body>
    <div class="container">
        <img src="assets/401-Error-Unauthorized.gif" alt="Unauthorized Access">
        <h1>401 - Unauthorized Access</h1>
        <p>You do not have permission to access this resource.</p>
        <p>Please contact the administrator for assistance or go back to the <a href="">home page</a>.</p>
      </div>
</body>
</html>
