body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  h1 {
    color: #333;
    font-weight: bold;
  }

  p {
    color: #777;
    margin-bottom: 30px;
  }

  img {
    max-width: 300px;
    margin-bottom: 30px;
  }

  a {
    color: #007bff;
    text-decoration: none;
  }