<!-- Off Canvas -->

<div class="offcanvas offcanvas-start sidebar-nav bg-dark"  tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
      <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
    </div>
    <div class="offcanvas-body p-0">
  
      <div class="navbar-dark bg-dark">
        <ul class="navbar-nav">
          <li>
            <div class="text-muted small fw-bold text-uppercase px-3">
              
            </div>
          </li>
          <li>
            <a href="" class="nav-link px-3 active">
              <span class="me-2">
                <i class="bi bi-speedometer"></i>
              </span>
              <span>HOME</span>  
            </a>
          </li>
          <li class="my-4" style="color:antiquewhite">
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a routerLink="/user" class="nav-link px-3 active">
              <span class="me-2">
                <i class="bi bi-people-fill"></i>
              </span>
              <span>Link 1</span>  
            </a>
          </li>
          <li class="my-4" style="color:antiquewhite">
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a routerLink="/report" class="nav-link px-3 active">
              <span class="me-2">
                <i class="bi bi-file-earmark-text"></i>
              </span>
              <span>Link 2</span>  
            </a>
          </li>
          <li class="my-4" style="color:antiquewhite">
            <hr class="dropdown-divider"/>
          </li>
          <li>
            <a routerLink="/reports" class="nav-link px-3 active">
              <span class="me-2">
                <i class="bi bi-receipt"></i>
              </span>
              <span>REPORTS</span>  
            </a>
          </li>
          
        </ul>
      </div>
  
      <!-- <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div> -->
  
    </div>
  </div>
  <!-- Off canvas Ends -->