
<div class="container">
    <div class="row">
         <app-navbar></app-navbar><!--Call navbar-->
   </div>
     <br>
     <br>
     <br>
     <div class="row">
         <div class="col-2">
             <app-inventory-ad-side-bar></app-inventory-ad-side-bar> <!--Call sidebar-->
         </div>
         <br><br><br>
  
         <div class="col-10 mt-5">
          <div class="mt-5">
           <!-- <button (click)="createBackup()">Backup Now</button>-->
           <!-- backup.component.html -->
            <div>
             <button (click)="createBackup()" class="btn btn-primary">
                <i class="fas fa-file-download"></i> Backup Now
             </button>
            </div>
  
          </div>
          </div>
     </div>
  </div>
  
  






