<!--Login-->
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
    <style>
      .background-radial-gradient {
        background-color: hsl(57, 58%, 33%);
        background-image: radial-gradient(650px circle at 0% 0%,
            hsl(67, 84%, 56%) 15%,
            hsl(57, 69%, 31%) 35%,
            hsl(60, 74%, 15%) 75%,
            hsl(60, 60%, 1%) 80%,
            transparent 100%),
          radial-gradient(1250px circle at 100% 100%,
            hsl(67, 84%, 56%) 15%,
            hsl(57, 69%, 31%) 35%,
            hsl(60, 74%, 15%) 75%,
            hsl(60, 60%, 1%) 80%,
            transparent 100%);
      }
  
      #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background: radial-gradient(#f7eb07, #000000);
        overflow: hidden;
      }
  
      #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#f7eb07, #000000);
        overflow: hidden;
      }
  
      .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
      }
    </style>
  
    <div class="container mb-5 text-center text-lg-start my-5">
      <div class="row align-items-center">
        <div class="col-lg-6" style="z-index: 10">
          <div class="row align-items-center">
            <img src="assets/Pictures/Tra_logo.png" alt="">
          </div>
          <div class="row">
          <h1 class="mb-5 display-5 fw-bold ls-tight" style="color: hsl(0, 0%, 100%)">
            Monara Creations (Pvt)Ltd<br />
          </h1>
          <p class="mb-5 opacity-70" style="color: hsl(55, 85%, 79%)">
            “The reason to bring in a speaker is to move the audience emotionally. 
            It can never be about the speaker. Rather, it must be about engaging 
            the audience to help them achieve more than they thought possible 
            that is what I aim to do every time.”  <b>Mark Pollock</b>
          </p>
        </div>
        </div>
          <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
                <div class="d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="d-flex justify-content-center">Forget Password</h2>
                    
                    <form>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                              <div class="form-outline">
                                <label class="form-label" for="form3Example1">First name</label>
                                <input type="text" id="form3Example1" class="form-control" />
                                
                              </div>
                            </div>
                            <div class="col-md-6 mb-4">
                              <div class="form-outline">
                                <label class="form-label" for="form3Example2">Last name</label>
                                <input type="text" id="form3Example2" class="form-control" />
                                
                              </div>
                            </div>
                        </div>
                    
                    <!-- User Name -->
                    <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1">User Name</label>
                    <input type="text" id="form3Example1" class="form-control" />
                    
                    </div>
                
                    <!--Select Category-->
                    <div class="mb-3">
                    <label class="form-label" for="form3Example2">Select User Type</label>
                        <select id="form3Example2" class="form-select">
                        <option>System Admin</option>
                        <option>Inventory Admin</option>
                        <option>Store Manager</option>
                        <option>Purchase Coordinator</option>
                        <option>Store Keeper</option>
                        <option>Desinger</option>
                        <option>Showroom Manager</option>
                        </select>
                    </div>
    
                    <!-- Password input -->
                    <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <label class="form-label" for="form3Example1">Password</label>
                            <input type="password" id="form3Example1" class="form-control" />
                            
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <label class="form-label" for="form3Example2">Re-Type Password</label>
                            <input type="password" id="form3Example2" class="form-control" />
                            
                          </div>
                        </div>
                    </div>
    
    
                    <!-- Update button -->
                    <div class="row py-2">
                    </div>
                 
                  <div class="d-flex justify-content-around">
                    <button type="submit" class="btn btn-primary btn btn-dark ">
                    Update Password
                    </button>
                  
                    <button type="submit" class="btn btn-primary btn btn-dark  ">
                    Cancel
                    </button>
                  </div>
                
                <div class="row py-2">
                </div>
                </form>
              </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="row py-4">
        </div>
    </div>
  </section>
  <!-- Section: Design Block -->
  
