<!--Designer Sidebar-->
<div class="offcanvas offcanvas-start sidebar-nav bg-dark"  tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
    <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
  </div>
  <div class="offcanvas-body p-0">

    <div class="navbar-dark bg-dark">
      <ul class="navbar-nav">
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3">

          </div>
        </li>
        <li>
          <a routerLink="/designer-dash" class="nav-link px-3 active" mat-list-item routerLinkActive="list-item-active">
            <span class="me-5">
            </span>
            <span><h4> Dashboard</h4></span>
          </a>
        </li>
        <li>
          <a routerLink="/desiger-view-files" class="nav-link px-3 active" mat-list-item routerLinkActive="list-item-active">
            <span class="me-5">
            </span>
            <span><h4> View Showroom Files</h4></span>
          </a>
        </li>
        <li>
          <a routerLink="/designer-de-quantity" class="nav-link px-3 active" mat-list-item routerLinkActive="list-item-active">
            <span class="me-5">
            </span>
            <span><h4> Deduct Quantity</h4></span>
          </a>
        </li>
        <li>
          <a routerLink='/billing' class="nav-link px-3 active " data-bs-target="#components-nav2" data-bs-toggle="collapse" href="#">
            <span class="me-5">
            </span>
            <span><h4>Create Bill</h4></span>
          </a>
        </li>
        <li>
          <a routerLink='/designer-bill-send' class="nav-link px-3 active " data-bs-target="#components-nav2" data-bs-toggle="collapse" href="#">
            <span class="me-5">
            </span>
            <span><h4>Send Bill</h4></span>
          </a>
        </li>
        <li>
          <a routerLink="/reports" class="nav-link px-3 active" mat-list-item routerLinkActive="list-item-active">
            <span class="me-5">
            </span>
            <span><h4>Create GIN</h4></span>
          </a>
        </li>
        <li>
          <a routerLink="/designer-send-gin" class="nav-link px-3 active" mat-list-item routerLinkActive="list-item-active">
            <span class="me-5">
            </span>
            <span><h4>Send GIN</h4></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

