
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- Off Canvas -->

<div class="offcanvas offcanvas-start sidebar-nav bg-dark"  tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
    <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
  </div>
  <div class="offcanvas-body p-0">

    <div class="navbar-dark bg-dark">
      <ul class="navbar-nav">
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3">
          </div>
        </li>

        <li>
          <a routerLink="/designer-dash" class="nav-link px-3 active">
            <span class="me-2" style="font-size: 25px">
              <i class="bi bi-house-door-fill"></i>

            </span>
            <span style="font-size: 15px">HOME</span>
          </a>
        </li>

        <li>
          <a routerLink="/desiger-view-files" class="nav-link px-3 active">
            <span class="me-2" style="font-size: 25px">
              <i class="bi bi-file-earmark-bar-graph"></i>
            </span>
            <span style="font-size: 15px">View Files</span>
          </a>
        </li>

        <li>
          <a routerLink="/designer-de-quantity" class="nav-link px-3 active">
            <span class="me-2" style="font-size: 25px">
              <i class="bi bi-trash3"></i>
            </span>
            <span style="font-size: 15px">Deduct Quantity</span>

          </a>
        </li>

        <li>
          <a routerLink="/billing" class="nav-link px-3 active">
            <span class="me-2" style="font-size: 25px">
              <i class="bi bi-bootstrap-fill"></i>
            </span>
            <span style="font-size: 15px">Create Bill</span>

          </a>
        </li>
        <li>
          <a routerLink="/designer-bill-send" class="nav-link px-3 active">
            <span class="me-2" style="font-size: 25px">
              <i class="bi bi-send-check"></i>
            </span>
            <span style="font-size: 15px">Send Bill</span>
          </a>
        </li>
        <li>
          <a routerLink="/reports" class="nav-link px-3 active">
            <span class="me-2" style="font-size: 25px">
              <i class="bi bi-calendar2-check-fill"></i>
            </span>
            <span style="font-size: 15px">Create GIN</span>
          </a>
        </li>
        <li>
          <a routerLink="/designer-send-gin" class="nav-link px-3 active">
            <span class="me-2" style="font-size: 25px">
              <i class="bi bi-send-fill"></i>

            </span>
            <span style="font-size: 15px">Send GIN</span>
          </a>
        </li>
      </ul>
    </div>


  </div>
</div>
<!-- Off canvas Ends -->
</body>
</html>

