<!--Inventory admin add products-->

<div class="container">
    <div class="row">
        <app-stock-manager-nav></app-stock-manager-nav>
    </div>
    <div class="row">
        <div class="col-2">
            <app-stock-manager-side></app-stock-manager-side>
        </div>
        <div class="col-10 mt-5">
        <div class="mt-5">
          <br>
          <div>
          <!--Add Product button-->
            <button type="button" class="btn btn-dark float-right"><span class="bi bi-plus"></span>Add Product</button>
            <br><br>
          <!--Search bar-->
          <div class="form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Filter" aria-label="Search" />
          </div>
          </div>
            <table class="table align-middle mb-0 bg-white mt-5">
                <thead class="bg-light mt-5">
                  <tr>
                    <th>Product ID</th>
                    <th>Category ID</th>
                    <th>Product Brand</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Product Quantity</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button type="button" class="btn btn-link-dark"><span class="bi bi-trash"></span></button></td>
                  </tr>
                </tbody>
              </table>
        </div>
        </div>
    </div>
</div>
