<!--Inventory admin add products-->

<div class="container">
    <div class="row">
      <app-navbar></app-navbar> <!--Call navbar-->
    </div>
    <div class="row">
        <div class="col-2">
            <app-stock-manager-side></app-stock-manager-side>
        </div>
        <div class="col-10 mt-5">
        <div class="mt-5">
          <br>
          <div>
          <!--Add Product button-->
          <button mat-raised-button (click)="openStockEditProductForm()" class="btn btn-dark float-right">Add Product</button>
            <br><br>
          <!--Search bar-->
          <div class="form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Filter" aria-label="Search" />
          </div>
          </div>
          <br>
            <table  class="table table-striped table-borderless">
                <thead style="background-color:#222222 ;" class="text-white">
                  <tr>
                    <th scope="col"style="text-align:center;">Product ID</th>
                    <th scope="col"style="text-align:center;">Category ID</th>
                    <th scope="col"style="text-align:center;">Product Brand</th>
                    <th scope="col"style="text-align:center;">Product Name</th>
                    <th scope="col"style="text-align:center;">Product Price</th>
                    <th scope="col"style="text-align:center;">Product Quantity</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products">
                    <td style="text-align:center;">{{ product.product_id }}</td>
                    <td style="text-align:center;">{{ product.category_id }}</td>
                    <td style="text-align:center;">{{ product.product_brand }}</td>
                    <td style="text-align:center;">{{ product.product_name }}</td>
                    <td style="text-align:center;">{{ product.product_price }}</td>
                    <td style="text-align:center;">{{ product.product_quantity }}</td>
                    <td><button type="button" class="btn btn-primary" (click)="openStockEditProductForm()">Update</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
        </div>
    </div>
</div>
