<!--Inventory admin add products-->

<div class="container">
    <div class="row">
      <app-navbar></app-navbar> <!--Call navbar-->
    </div>
    <div class="row">
        <div class="col-2">
            <app-stock-manager-side></app-stock-manager-side>
        </div>
        <div class="col-10 mt-5">
        <div class="mt-5">
          <br>
          <div>
          <!--Add Product button-->
          <button mat-raised-button (click)=" openAddEditProductForm(null,'add')" class="btn btn-dark float-right">Add Product</button>
            <br><br>
          <!--Search bar-->
          <div class="form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Filter" aria-label="Search" />
          </div>
          </div>
          <br>   
              <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th class="th-sm">Product Id</th>
                      <th class="th-sm">Category Id</th>
                      <th class="th-sm">Product Brand</th>
                      <th class="th-sm">Product Name</th>
                      <th class="th-sm">Product Price</th>
                      <th class="th-sm">Product Quantity</th>
                      <th class="th-sm">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of filteredProducts">
                      <td>{{ product.product_id }}</td>
                      <td>{{ product.category_id }}</td>
                      <td>{{ product.product_brand }}</td>
                      <td>{{ product.product_name }}</td>
                      <td>{{ product.product_price }}</td>
                      <td>{{ product.product_quantity }}</td>
                      <td>
                        <a href="#" class="edit" data-toggle="modal">
                          <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
                        </a>
                       <!--<a href="#" class="delete" data-toggle="modal">
                          <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
                        </a>-->
                      </td>
                    </tr>
                  </tbody>
                </table>
              
        </div>
        </div>
    </div>
</div>
