<div mat-dialog-title>
    <h1>Add Products</h1>
</div>
<br>
<div mat-dialog-content class="content">

        
    <mat-form-field appearance="outline">
        <mat-label>Select Category</mat-label>
        <mat-select>
            <mat-option></mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input matInput>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Product Brand</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Product Price</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Product Quantity</mat-label>
        <input matInput>
    </mat-form-field>

    <div mat-dialog-actions>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-outline-primary">Close</button>
    </div>
</div>
