
<mat-card>
    <mat-card-header>
      <mat-card-title>Add Product</mat-card-title>
    </mat-card-header>
  
    <form #productForm="ngForm" (ngSubmit)="addProduct()">
      <mat-card-content>
        <p>

          <select class="form-select" name="category_id" aria-label="category" [(ngModel)]="product.category_id"  required>
            <option selected value="" disabled [ngValue]="null">Select Category</option>
            <option value="c2">Melamine Board</option>
            <option value="c3">Edge Band</option>
          </select>
          <br>
          <!-- Product Name -->
          <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input matInput name="product_name" [(ngModel)]="product.product_name" placeholder="Product Name" required>
          </mat-form-field>
  
          <!-- Product Brand -->
  
          <mat-form-field appearance="outline">
            <mat-label>Product Brand</mat-label>
            <input matInput name="product_brand" [(ngModel)]="product.product_brand" placeholder="Product Brand" required>
          </mat-form-field>
        </p>
       
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Product Quantity</mat-label>
            <input matInput name="product_quantity" [(ngModel)]="product.product_quantity" type="number" placeholder="Product Quantity" required>
          </mat-form-field>

          <!-- Product Price -->
          <mat-form-field appearance="outline">
            <mat-label>Product Price</mat-label>
            <input matInput name="product_price"  [(ngModel)]="product.product_price" type="number" placeholder="Product Price" required>
          </mat-form-field>
        </p>
  
      </mat-card-content>
  
      <mat-card-actions>
        <input class="btn btn-primary" type="submit" value="Submit" [disabled]="!productForm.valid">
        <input class="btn btn-primary" type="reset" value="Reset" (click)="resetForm()">
      </mat-card-actions>
    </form>
  
  </mat-card>
  