<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    


    

</head>
<body>
    <app-system-admin-nav></app-system-admin-nav>  

    <div class="container">
        <div class="row">
            <div class="col-2">
                <app-system-admin-side></app-system-admin-side>
            </div>
            <div class="col-10">
                <br><br><br><br>
    
            </div>
        </div>
    </div>
     
</body>
</html>