  <!-- <html>
    <head>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      </head>
      <body>
  <div>
    <app-system-admin-nav></app-system-admin-nav>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <app-system-admin-side></app-system-admin-side>
            </div>
            <div class="col-10">
                <br><br><br><br><br><br><br><br>
                <div class="d-flex justify-content-center">
                    <div>
                      <div class="d-flex justify-content-center">
                        <h1>Update All Users</h1>
                      </div>
                      

                      <div style=" padding:5px;" class = "d-flex justify-content-around">
                        <input type="text" [(ngModel)]="searchQuery" (input)="searchUsers()" placeholder="Search users">
                        <button type="button" class="btn btn-primary margin-right:10px " (click)="clearSearch()">Clear</button>
                      </div>
                      <br>
  
                      
                      
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr scope="row" *ngFor="let user of filteredUsers">
                            <td>{{ user.id }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.role }}</td>
                            <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                              (click)="openUpdateForm(user)">Update</button></td>
                          </tr>
                        </tbody>
                      </table>
                      
                      </div>
                      
                </div>

                
                                    
            </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Update User</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form #updateForm="ngForm" (submit)="updateUser()">
              <div class="form-group">
                <label for="id">User Id :</label>
                <input type="text" disabled #id [(ngModel)]="userUpdate.id" name="id" id="id"
                  class="form-control" placeholder="User Id">
              </div>
              <div class="form-group">
                <label for="firstname">User First Name :</label>
                <input type="text" #firstname [(ngModel)]="userUpdate.firstname" name="firstname" id="firstname" class="form-control"
                  placeholder="User First Name">
              </div>
              <div class="form-group">
                <label for="lastname">User Last Name :</label>
                <input type="text" #lastname [(ngModel)]="userUpdate.lastname" name="lastname" id="lastname" class="form-control"
                  placeholder="User Last Name">
              </div>
              <div class="form-group">
                <label for="email">User Email :</label>
                <input type="text" disabled #email [(ngModel)]="userUpdate.email" name="email" id="email"
                  class="form-control" placeholder="User Email">
              </div>
              <div class="form-group">
                <label for="role">User Role :</label>
                <select type="role" #role [(ngModel)]="userUpdate.role" name="role" id="role"
                  class="form-control" placeholder="User Role">
                    <option>INVENTORY_ADMIN</option>
                    <option>STOCK_MANAGER</option>
                    <option>PURCHASE_COORDINATOR</option>
                    <option>STOCK_KEEPER</option>
                    <option>DESIGNER</option>
                    <option>SHOWROOM_MANAGER</option>
                  </select>
              </div>
              <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
        </div>
      </div>
    </div>
    </div>

  </body>
  </html>
  


   -->

   <div class="container">
  <h1>Update All Users</h1>

  <!-- Add your search input and table with user details here -->

  <!-- Table to display user details -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr scope="row" *ngFor="let user of filteredUsers">
        <td>{{ user.id }}</td>
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="openUpdateForm(user)">Update</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal for Update Form -->
  <div *ngIf="showModal" class="modal fade show" tabindex="-1" role="dialog" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update User Details</h5>
          <button type="button" class="close" data-dismiss="modal" (click)="closeUpdateForm()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (submit)="updateUser()">
            <div class="form-group">
              <label for="id">User Id :</label>
              <input type="text" disabled [(ngModel)]="userUpdate.id" name="id" id="id" class="form-control"
                placeholder="User Id">
            </div>
            <div class="form-group">
              <label for="firstname">User First Name :</label>
              <input type="text" [(ngModel)]="userUpdate.firstname" name="firstname" id="firstname"
                class="form-control" placeholder="User First Name">
            </div>
            <div class="form-group">
              <label for="lastname">User Last Name :</label>
              <input type="text" [(ngModel)]="userUpdate.lastname" name="lastname" id="lastname" class="form-control"
                placeholder="User Last Name">
            </div>
            <div class="form-group">
              <label for="email">User Email :</label>
              <input type="text" disabled [(ngModel)]="userUpdate.email" name="email" id="email" class="form-control"
                placeholder="User Email">
            </div>
            <div class="form-group">
              <label for="role">User Role :</label>
              <input type="text" [(ngModel)]="userUpdate.role" name="role" id="role" class="form-control"
                placeholder="User Role">
            </div>
            <br>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeUpdateForm()">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Success Message -->
  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>
</div>
