
<div class="container">
<div id="divChart">

  
  <canvas id="myChart" width="500" height="300"></canvas>

</div>

<br><br><br>

  <div class="row">
    <h1>Welcome To the Forecasting Dashboard!</h1>
    <br>
    <br>


<div>
    <label for="cars">Select Category:</label>

    <select #category (change)="onSelectedCategory(category.value)">
      <option value="">All</option>
      <option value="c1">Steron</option>
      <option value="c2">Melamine Board</option>
      <option value="c3">H-band</option>
      <option value="c4">Accessories</option>
      <option value="c5">appliances</option>
    </select>

      
</div>
<br>
<br>
<br>
<div>    
    <label for="cars">Select Status:</label>

    <select #status (change)="onSelectedStatus(status.value)">
      <option value="Purchasing">Purchasing</option>
      <option value="selling">Selling</option>
    </select>
    <br>
</div>



  </div>
  <br><br>

<div>

  <button type="button" (click)="onClickMe()">Submit</button>

</div>

</div>