<div class="container">
  <div class="row">
    <div class="col-5">
      <br><br><br>
      <div>
    <h1><b>Welcome To Inventory Analysis</b></h1>
    </div>
    <br><br>
  <div>
    <label for="cars">Select Status:</label>
    <select #status (change)="onSelectedStatus(status.value)">
      <option value="grn">Purchasing</option>
      <option value="gin">Selling</option>
    </select>
  </div>
  <br><br>
  <div>
    <label for="cars">Select Category:</label>
    <select #category (change)="onSelectedCategory(category.value)">
      <option value="">All</option>
      <option value="c1">Steron</option>
      <option value="c2">Melamine Board</option>
      <option value="c3">H-band</option>
      <option value="c4">Accessories</option>
      <option value="c5">appliances</option>
    </select>
  </div>
  <br><br>
  <div>
    <label for="cars">Select Chart Type:</label>
    <select #chartType (change)=" onSelectedChartType(chartType.value)">
      <option value="line">Line Chart</option>
      <option value="bar">Bar Chart</option>
      <option value="pie">Pie Chart</option>
    </select>
  </div>
  <br><br>
  <div>
    <button type="button" (click)="onClickMe()">Submit</button>
  </div>
  </div>
  <div class="col-5">
    <br><br><br><br><br><br>
  <div id="divChart">
    <canvas id="myChart" width="200" height="200"></canvas>
  </div>
  </div>
</div>
</div>