
<div class="offcanvas offcanvas-start sidebar-nav bg-dark"  tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
    <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
  </div>
  <div class="offcanvas-body p-0">

    <div class="navbar-dark bg-dark">
      <ul class="navbar-nav">
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3">

          </div>
        </li>
        <li>
          <a routerLink="/showroom-dash" class="nav-link px-3 active" mat-list-item routerLinkActive="list-item-active">
            <span class="me-5">
            </span>
            <span><h4> Dashboard</h4></span>
          </a>
        </li>
        <li>
          <a routerLink="/desiger-vi" class="nav-link px-3 active" mat-list-item routerLinkActive="list-item-active">
            <span class="me-5">
            </span>
            <span><h4>Send File</h4></span>
          </a>
        </li>
        <li>
          <a routerLink="/showroom-bill-view" class="nav-link px-3 active" mat-list-item routerLinkActive="list-item-active">
            <span class="me-5">
            </span>
            <span><h4> View Bills</h4></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


