@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
/* You can add global styles to this file, and also import other style files */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root{
    --offcanvas-width: 220px;   /*Width of the Side Bar*/
    --TopNavbarHeight: 72px;    /*Height of the Navbar Bar*/
}

.sidebar-nav{
    width: var(--offcanvas-width);

}

@media(min-width: 150px){
    .sidebar-nav{
        transform: none;
        position: fixed;
        visibility: visible !important;
        top: var(--TopNavbarHeight);
        height: calc(100% - var(--TopNavbarHeight));
    }
}
@import "../node_modules/angular-calendar/css/angular-calendar.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*showroom file upload*/
@import "~bootstrap/dist/css/bootstrap.css";
img{
  float: left;
  width: 49%;
  height: 80%;
}

#upload{
  float: right;

  width: 420px;
  height: 250px;

}


 body{
  background-color: rgb(157, 216, 196);
 }



