<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    


    

</head>
<body>
    <app-navbar></app-navbar>  

    <div class="container">
        <div class="row">
            <div class="col-2">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-10">
                <br><br><br><br>

                <div class="container">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card bg-c-blue text-white">
                                <div class="card-body">
                                    <h6>_____________</h6>
                                    <h2 class="text-end"><i class="bi bi-cart-plus"></i><span> </span></h2>
                                    <p>Available Categories<span class="float-end">{{category}}</span></p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-sm-4">
                            <div class="card bg-c-green text-white">
                                <div class="card-body">
                                    <h6>_____________</h6>
                                    <h2 class="text-end"><i class="bi bi-rocket"></i><span> </span></h2>
                                    <p>Available Products<span class="float-end">{{products}}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
        </div>
    </div>
     
</body>
</html>