<!-- Admin Dashboard -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!--<button type="button" class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <h3><i class="bi bi-list"></i></h3>
        </button> -->
      
      <a class="navbar-brand" routerLink="admindash"><b> <h3>MONARA CREATIONS (Pvt) Ltd</h3></b></a> <!--Change That-->
      <!-- <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <i class="bi bi-list"></i>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        </div>
      </div>
      <div class="bg-dark learfix">
        <div class="row">
            <div class="col-3 ml-auto text-right py-4">
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-light btn-rounded btn" data-mdb-ripple-color="dark">Logout</button>
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
    <!--container-->

    </div>
</nav>
<!-- Navbar Ends -->
<!-- Off Canvas -->

<div class="offcanvas offcanvas-start sidebar-nav bg-dark"  tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"></h5>
    <!-- <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
  </div>
  <div class="offcanvas-body p-0">

    <div class="navbar-dark bg-dark">
      <ul class="navbar-nav">
        <li>
          <div class="text-muted small fw-bold text-uppercase px-3">
            
          </div>
        </li>
        <li>
          <a href="" class="nav-link px-3 active">
            <span class="me-5">
            </span>
            <span><h4> Profile</h4></span>  
          </a>
        </li>
        
        <li>
          <a href="" class="nav-link px-3 active">
            <span class="me-5">
            </span>
            <span><h4> Manage Users</h4></span>  
          </a>
        
        <li>
          <a href="" class="nav-link px-3 active">
            <span class="me-5">
            </span>
            <span><h4> Stores Reports</h4></span>  
          </a>
        </li>
    
        <li>
          <a href="" class="nav-link px-3 active">
            <span class="me-5">
            </span>
            <span><h4> Purchase Reports</h4></span>  
          </a>
        </li>
      
        <li>
          <a href="" class="nav-link px-3 active">
            <span class="me-5">
            </span>
            <span><h4> Sales Reports</h4></span>  
          </a>
        </li>
        
      </ul>
    </div>

    <!-- <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div> -->

  </div>
</div>
<!-- Off canvas Ends -->
