
<div class="container">
    <div class="row">
        <app-navbar></app-navbar> <!--Call navbar-->
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-2">
            <app-inventory-ad-side-bar></app-inventory-ad-side-bar> <!--Call sidebar-->
        </div>
        
        <div class="col-10 mt-5">
            <div>
              
              <div class="card-body px-4 py-5 px-md-5">
                  <div class="d-flex justify-content-center">
                  <div class="col-lg-10 mt-5">
                    <h2 class="d-flex justify-content-center">Good Recieve Note - GRN</h2>

                    <h3>Filter GRN Details Here:</h3>

                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Select Date" [(ngModel)]="searchValue" (input)="searchGrns()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                      <thead>
                        <tr>
                          <th class="th-sm" scope="col">Category Id</th>
                          <th class="th-sm" scope="col">Supplier Name</th>
                          <th class="th-sm" scope="col">Address</th>
                          <th class="th-sm" scope="col">Contact Number</th>
                          <th class="th-sm" scope="col">Date</th>
                          <th class="th-sm" scope="col">Ordered Quantity</th>
                          <th class="th-sm" scope="col">Received Quantity</th>
                          <th class="th-sm" scope="col">Item Description</th>
                          <th class="th-sm" scope="col">Remarks</th>
                          <th class="th-sm" scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr scope="row" *ngFor="let grn of filteredGrns">
                          <td>{{ grn.category_id }}</td>
                          <td>{{ grn.supplier_name }}</td>
                          <td>{{ grn.address }}</td>
                          <td>{{ grn.contact_nu }}</td>
                          <td>{{ grn.date }}</td>
                          <td>{{ grn.ordered_quantity }}</td>
                          <td>{{ grn.received_quantity }}</td>
                          <td>{{ grn.item_description }}</td>
                          <td>{{ grn.remarks }}</td>
                          <td>
                            <button type="button" class="btn btn-outline-warning">View</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br><br><br><br>

                      <h2 class="d-flex justify-content-center">Purchased Order</h2>
                      
                      <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm.value,productForm)">
                        
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Product Name</label>
                          <div class="col-sm-10">
                            <select class="form-select" name="product_name" aria-label="product" required [(ngModel)]="selectedProductName">
                              <option selected value="" disabled>Select Product name</option>
                              <option *ngFor="let product of filteredProductNames" [value]="product">{{ product }}</option>
                            </select>
                          </div>
                        </div>
                        <br>
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Product Brand</label>
                          <div class="col-sm-10">
                            <select class="form-select" name="product_brand" aria-label="product" required [(ngModel)]="selectedProductBrand">
                              <option selected value="" disabled>Select Product brand</option>
                              <option *ngFor="let brand of filteredProductBrands" [value]="brand">{{ brand }}</option>
                            </select>
                          </div>
                        </div>

                        <br>
                        <div class="form-group col-md-2">
                          <label class="col-sm col-form-label">Product Quantity</label>
                          <div class="col-sm">
                            <input type="number" class="form-control" name="product_quantity" ngModel required>
                          </div>
                        </div>
                        <br>
                        <div class="form-group row">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary" style="margin-right: 10px;" [disabled]="!productForm.valid">Confirm</button>
                            <button type="reset" class="btn btn-primary">Reset</button>
                          </div>
                        </div>
                      </form>

                </div>
                </div>
              </div>
            </div>
  </div>

        
    </div>
</div>

